# Sales Data Analysis Project with Tableau

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import warnings
warnings.filterwarnings("ignore")

In [ ]:

# 1. Capture the dictionary of DataFrames
data = pd.read_excel("./AmazingMartEU2.xlsx", sheet_name=['ListOfOrders','OrderBreakdown','SalesTargets'])

# 2. Assign the DataFrames to specific variables
df_orders = data['ListOfOrders']
df_breakdown = data['OrderBreakdown']
df_targets = data['SalesTargets']
dfs=[df_orders,df_breakdown,df_targets]

In [13]:
print(dfs[0].isna().sum())
print("Number of duplication: ",df_orders.duplicated().sum())

Order ID         0
Order Date       0
Customer Name    0
City             0
Country          0
Region           0
Segment          0
Ship Date        0
Ship Mode        0
State            0
dtype: int64
Number of duplication:  0

In [8]:
print(df_breakdown.isna().sum())
print("Number of duplication: ",df_breakdown.duplicated().sum())

Order ID        0
Product Name    0
Discount        0
Sales           0
Profit          0
Quantity        0
Category        0
Sub-Category    0
dtype: int64
Number of duplication:  2

In [9]:
print(df_targets.isna().sum())
print("Number of duplication: ",df_targets.duplicated().sum())

Month of Order Date    0
Category               0
Target                 0
dtype: int64
Number of duplication:  0

In [11]:
df_targets.head(10)

  Month of Order Date   Category  Target
0          2011-01-01  Furniture   10000
1          2011-02-01  Furniture   10100
2          2011-03-01  Furniture   10300
3          2011-04-01  Furniture   10400
4          2011-05-01  Furniture   10500
5          2011-06-01  Furniture   10600
6          2011-07-01  Furniture   10800
7          2011-08-01  Furniture   10900
8          2011-09-01  Furniture   11000
9          2011-10-01  Furniture   11100

In [18]:
[print(df.info()) for df in dfs]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4117 entries, 0 to 4116
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       4117 non-null   object
 1   Order Date     4117 non-null   datetime64[ns]
 2   Customer Name  4117 non-null   object
 3   City           4117 non-null   object
 4   Country        4117 non-null   object
 5   Region         4117 non-null   object
 6   Segment        4117 non-null   object
 7   Ship Date      4117 non-null   datetime64[ns]
 8   Ship Mode      4117 non-null   object
 9   State          4117 non-null   object
dtypes: datetime64[ns](2), object(8)
memory usage: 321.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8047 entries, 0 to 8046
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      8047 non-null   object
 1   Product Name  8047 non-null   object
 2   Discount      8047 non-null   float64
 3   Sales         8047 non-null   int64
 4   Profit        8047 non-null   int64
 5   Quantity      8047 non-null   int64
 6   Category      8047 non-null   object
 7   Sub-Category  8047 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 503.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Month of Order Date  144 non-null    datetime64[ns]
 1   Category             144 non-null    object
 2   Target               144 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 3.5+ KB
None

[None, None, None]

In [20]:
# OrderBreakdown
df = df_orders.merge(df_breakdown, on='Order ID', how='inner')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8047 entries, 0 to 8046
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       8047 non-null   object
 1   Order Date     8047 non-null   datetime64[ns]
 2   Customer Name  8047 non-null   object
 3   City           8047 non-null   object
 4   Country        8047 non-null   object
 5   Region         8047 non-null   object
 6   Segment        8047 non-null   object
 7   Ship Date      8047 non-null   datetime64[ns]
 8   Ship Mode      8047 non-null   object
 9   State          8047 non-null   object
 10  Product Name   8047 non-null   object
 11  Discount       8047 non-null   float64
 12  Sales          8047 non-null   int64
 13  Profit         8047 non-null   int64
 14  Quantity       8047 non-null   int64
 15  Category       8047 non-null   object
 16  Sub-Category   8047 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(3), object(11)
memory usage: 1.0+ MB

In [29]:
df[:1].to_dict()

{'Order ID': {0: 'BN-2011-7407039'},
 'Order Date': {0: Timestamp('2011-01-01 00:00:00')},
 'Customer Name': {0: 'Ruby Patel'},
 'City': {0: 'Stockholm'},
 'Country': {0: 'Sweden'},
 'Region': {0: 'North'},
 'Segment': {0: 'Home Office'},
 'Ship Date': {0: Timestamp('2011-01-05 00:00:00')},
 'Ship Mode': {0: 'Economy Plus'},
 'State': {0: 'Stockholm'},
 'Product Name': {0: 'Enermax Note Cards, Premium'},
 'Discount': {0: 0.5},
 'Sales': {0: 45},
 'Profit': {0: -26},
 'Quantity': {0: 3},
 'Category': {0: 'Office Supplies'},
 'Sub-Category': {0: 'Paper'}}

In [30]:
df.columns

Index(['Order ID', 'Order Date', 'Customer Name', 'City', 'Country', 'Region',
       'Segment', 'Ship Date', 'Ship Mode', 'State', 'Product Name',
       'Discount', 'Sales', 'Profit', 'Quantity', 'Category', 'Sub-Category'],
      dtype='object')

In [50]:
(df.City.value_counts(dropna=False) > 10).sum()

np.int64(181)

In [54]:
# Top 10 cities by number of orders all are 1353
df.City.value_counts().head(10)

City
London       219
Vienna       196
Berlin       177
Madrid       150
Stockholm    124
Paris        119
Rome         111
Hamburg       96
Milan         84
Dublin        77
Name: count, dtype: int64